<?php
// Linotp server
$config['linotp_server'] = '<your server>';
// Linotp port
$config['linotp_port'] = '<your port>';
// Linotp emergency password
$config['linotp_emergencypw'] = '<your emergency password>';
// Include the password as part of the OTP
// Set to True if you have a LinOTP policy of authentication/otppin=1
$config['linotp_inc_pwd'] = false;

?>
